.icons{
  float: right;
  list-style-type: none;
}
.icons li{
  float:left;
  margin-right: 10px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  width: 100%;
}
.navbar2{
  width: 80%;
  display: flex;
  justify-content: space-around;
}
#gridone{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
}
#gridtwo{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
}
#mob{
  padding: 30px;
  border-radius: 100%;
  background-color:white;
  color: black;
}
#form{
   display: grid;  
  position: relative;
  top: -100px;
  z-index: 1;  
}
#contact{
  position: relative;
  left: 100px;
  z-index: 2;
}

@media (max-width:768px) {
  #form{
    top: 0px ;
  }
  #contact{
    width: 500px !important;
  }
}

@media (max-width:680px) {
  #form{
    top: 0px ;
  }
  #contact{
    width: 400px !important;
    left: 50px;
  }
}
@media (max-width:480px) {
  #form{
    top: 0px ;
  }
  #contact{
    width: 400px !important;
    left: 50px;
  }
}